.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar */
.hmsNavbar{
font-size: 15px; /*parent element for em*/
overflow: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures left and center alignment */
  padding: 10px 20px;
  background: #333;
  color: white;
  flex-wrap: wrap;
}

.navbar-hmsName {
  font-size: 24px;
  font-weight: bold;
}

.navbar-hmsName a {
  text-decoration: none;
  color: white;
}

.navbar-itemlist {
  flex-grow: 1; /* Allows it to expand */
  display: flex;
  justify-content: center; /* Centers this div */
}

.navbar-navv {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-item {
  cursor: pointer;
}
.navbar-btn{
display: flex;
    width: 10em;
    justify-content: space-around;
    flex-wrap: wrap;
}
.navbar-btn button{
  border: 1px solid green;
  background-color: black;
  color: rgb(34, 124, 7);
  width: 4em;
  height: 2em;
  border-radius: 1em;
}

/* Footer */
.sb-footer-top_di, 
.sb-footer-top_div,
.social-platforms,
.sb-footer-social-platforms,
.sb-footer-section{
  display: flex;
  flex-wrap: wrap;
}
.sb-footer-top_div{
  background: rgb(124, 218, 255);
  height: 3em;
  color: aliceblue;
  overflow: hidden;
}
.sb-footer-text{
  margin: 0em 1em;
  font-weight: bold;
}
.sb-footer-social-platforms{
  flex-grow: 1;
  justify-content: flex-end;
}
.social-platforms li{
  list-style: none;
  padding: 0em 1em;
}
.sb-footer-section{
  justify-content: space-around;
  background: #221f1f;
    color: aliceblue;
}
.sb-footer-section > div{
  width: 15em;
}
.servicesList li,.quickLinksList li,.supportList li,.contactList li{
  list-style: none;
  padding: 0.3em 0em;
}
.servicesList ,.quickLinksList ,.supportList ,.contactList {
  padding: 0em;
}
.sb-footer-section h1{
  font-size: 1em;
}
.sb-footer-section p,.sb-footer-section li {
  font-size: 0.8em;
}
.servicesList li a,.quickLinksList li a,.supportList li a,.contactList li a{
  text-decoration: none;
  color: white;
}
.footer-bottom-content{
  background-color: #020c3c;
  color: white;
  text-align: center;
}
.footer-bottom-content p {
  margin: 0;
  padding: 0.4em 0em;
}

/* Home */
.container{
  background-color: red;
  width: 100vw;
  height : 100vh;
}